root = true

[*]
indent_style = space
indent_size = unset
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{GNUmakefile,Makefile,makefile,*.mk}]
indent_style = tab

[*.{yaml,yml}]
indent_style = space

[*.{diff,md,snap}]
trim_trailing_whitespace = false
